<div class="container">
    <div class="row">
        <div class="col-12 title-section d-flex justify-content-between ">
            <div class="title-left-sec">
                <i class="bi bi-building"></i>
                <span class="tabs-name">Profile</span>
                <a href="#"><i class="bi bi-info-circle"></i></a>
                <a href="#" class="text-danger"><i class="bi bi-exclamation-triangle"></i></a>
                <span class="AsOndate">As On : <span>03/03/2021</span></span>
            </div>
            <div>
                <button class="btn btn-teal btn-teal-outline"><i class="bi bi-arrow-clockwise"></i> Update Info</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 co-xs-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h3>company details</h3>
                </div>
                <div class="card-body">
                  <ul class="card-list-item">
                    <li>
                        <div class="list-title">CATEGORY</div>
                        <div class="list-details">Company limited by Shares</div>
                    </li>
                    <li>
                        <div class="list-title">CIN</div>
                        <div class="list-details">L14292TG1973GOI001660</div>
                    </li>
                    <li>
                        <div class="list-title">NAME</div>
                        <div class="list-details">
                            <div class="text-start">
                                Hubtown Limited
                            </div>
                            <div class="text-end">
                                <strong><a href="" class="text-bold">OLD NAME</a></strong>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-title">SUB CATEGORY</div>
                        <div class="list-details">Non-govt company</div>
                    </li>
                    <li>
                        <div class="list-title">TYPE</div>
                        <div class="list-details">Non-govt company, Public, Listed</div>
                    </li>
                    <li>
                        <div class="list-title">AUTHORIZED CAPITAL</div>
                        <div class="list-details">₹ 1,250,000,000</div>
                    </li>
                    <li>
                        <div class="list-title">PAID UP CAPITAL</div>
                        <div class="list-details">₹ 763,358,710</div>
                    </li>
                    <li>
                        <div class="list-title">STATUS</div>
                        <div class="list-details">Active</div>
                    </li>
                    <li>
                        <div class="list-title">NSE SECTOR</div>
                        <div class="list-details">Residential Commercial Projects</div>
                    </li>
                    <li>
                        <div class="list-title">CORPOSITORY SECTOR</div>
                        <div class="list-details">CONSTRUCTION & CONTRACTING - CIVIL</div>
                    </li>
                    <li>
                        <div class="list-title">PRODUCT/SERVICES</div>
                        <div class="list-details">Sale of properties / rights (Net)</div>
                    </li>
                    <li>
                        <div class="list-title">PAN</div>
                        <div class="list-details">AAACA6101D</div>
                    </li>
                    <li>
                        <div class="list-title">LEI</div>
                        <div class="list-details"> - </div>
                    </li>
                    <li>
                        <div class="list-title">REMARKS</div>
                        <div class="list-details"> - </div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 co-xs-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h3>company profile</h3>
                </div>
                <div class="card-body">
                  <ul class="card-list-item">
                    <li>
                        <div class="list-title">CATEGORY</div>
                        <div class="list-details">Company limited by Shares</div>
                    </li>
                    <li>
                        <div class="list-title">CIN</div>
                        <div class="list-details">L14292TG1973GOI001660</div>
                    </li>
                    <li>
                        <div class="list-title">NAME</div>
                        <div class="list-details">Mishra Dhatu Nigam Limited</div>
                    </li>
                    <li>
                        <div class="list-title">SUB CATEGORY</div>
                        <div class="list-details">Non-govt company</div>
                    </li>
                    <li>
                        <div class="list-title">TYPE</div>
                        <div class="list-details">Non-govt company, Public, Listed</div>
                    </li>
                    <li>
                        <div class="list-title">AUTHORIZED CAPITAL</div>
                        <div class="list-details">₹ 1,250,000,000</div>
                    </li>
                    <li>
                        <div class="list-title">PAID UP CAPITAL</div>
                        <div class="list-details">₹ 763,358,710</div>
                    </li>
                    <li>
                        <div class="list-title">STATUS</div>
                        <div class="list-details">Active</div>
                    </li>
                    <li>
                        <div class="list-title">NSE SECTOR</div>
                        <div class="list-details">Residential Commercial Projects</div>
                    </li>
                    <li>
                        <div class="list-title">CORPOSITORY SECTOR</div>
                        <div class="list-details">CONSTRUCTION & CONTRACTING - CIVIL</div>
                    </li>
                    <li>
                        <div class="list-title">PRODUCT/SERVICES</div>
                        <div class="list-details">Sale of properties / rights (Net)</div>
                    </li>
                    <li>
                        <div class="list-title">PAN</div>
                        <div class="list-details">AAACA6101D</div>
                    </li>
                    <li>
                        <div class="list-title">LEI</div>
                        <div class="list-details"> - </div>
                    </li>
                    <li>
                        <div class="list-title">REMARKS</div>
                        <div class="list-details"> - </div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 co-xs-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h3>company profile</h3>
                </div>
                <div class="card-body">
                  <ul class="card-list-item">
                    <li>
                        <div class="list-title">CATEGORY</div>
                        <div class="list-details">Company limited by Shares</div>
                    </li>
                    <li>
                        <div class="list-title">CIN</div>
                        <div class="list-details">L14292TG1973GOI001660</div>
                    </li>
                    <li>
                        <div class="list-title">NAME</div>
                        <div class="list-details">Mishra Dhatu Nigam Limited</div>
                    </li>
                    <li>
                        <div class="list-title">SUB CATEGORY</div>
                        <div class="list-details">Non-govt company</div>
                    </li>
                    <li>
                        <div class="list-title">TYPE</div>
                        <div class="list-details">Non-govt company, Public, Listed</div>
                    </li>
                    <li>
                        <div class="list-title">AUTHORIZED CAPITAL</div>
                        <div class="list-details">₹ 1,250,000,000</div>
                    </li>
                    <li>
                        <div class="list-title">PAID UP CAPITAL</div>
                        <div class="list-details">₹ 763,358,710</div>
                    </li>
                    <li>
                        <div class="list-title">STATUS</div>
                        <div class="list-details">Active</div>
                    </li>
                    <li>
                        <div class="list-title">NSE SECTOR</div>
                        <div class="list-details">Residential Commercial Projects</div>
                    </li>
                    <li>
                        <div class="list-title">CORPOSITORY SECTOR</div>
                        <div class="list-details">CONSTRUCTION & CONTRACTING - CIVIL</div>
                    </li>
                    <li>
                        <div class="list-title">PRODUCT/SERVICES</div>
                        <div class="list-details">Sale of properties / rights (Net)</div>
                    </li>
                    <li>
                        <div class="list-title">PAN</div>
                        <div class="list-details">AAACA6101D</div>
                    </li>
                    <li>
                        <div class="list-title">LEI</div>
                        <div class="list-details"> - </div>
                    </li>
                    <li>
                        <div class="list-title">REMARKS</div>
                        <div class="list-details"> - </div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</div>
