<div class="container">
    <div class="row">
        <div class="col-12 title-section d-flex justify-content-between ">
            <div class="title-left-sec">
                <i class="bi bi-building"></i>
                <h2 class="tabs-name">director</h2>
                <a href="#" data-bs-toggle="modal" data-bs-target="#profile" ><i class="bi bi-info-circle"></i></a>
                <span class="AsOndate">As On : <span>03/03/2021</span></span>
            </div>
            <div>
                <button class="btn btn-teal btn-teal-outline"><i class="bi bi-arrow-clockwise"></i> Update Info</button>
                <button class="btn btn-teal btn-teal-outline"><i class="bi bi-file-earmark-excel"></i> Export to Excel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card custom-card">
                <table id="example" class=" custom-table director-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>din or dpin (pan)</th>
                            <th>address
                            </th>
                            <th>Designation
                                (CATEGORY)</th>
                            <th>
                                appointment at current designatin on</th>
                            <th>originally appointed on</th>
                            <th>
                                cessation date</th>
                            <th>
                                shareholding</th>
                            <th>email
                                id</th>
                            <th>remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">
                                <div>
                                    <a routerLink="../directorDetails">VYOMESH MAHIPATRAY SHAH</a>
                                    <small class="dob">(DOB: 15/11/1959)</small>
                                </div>
                            </td>
                            <td class="text-right"> 00009596
                                (AAHPS2338C)
                            </td>
                            <td class="">
                                6TH FLOOR, AKRUTI CO.OP. HOUSING SOCIETY, 23/F, DONGERSI ROAD, WALKESHWAR, MALABAR HILL
                                MUMBAI 400006 MH IN
                            </td>
                            <td>
                                Managing Director
                                (-)
                            </td>
                            <td>30/11/2006</td>
                            <td class="sorting_1">30/11/2006</td>
                            <td>-</td>
                            <td>10.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>-</td>
                            <td>
                                <strong class="text-danger">View
                                    Disqualification
                                    Remarks</strong><br>
                                <strong class="small">DIN Status</strong>
                                <small>Approved</small>
                                <strong class="small">DSC Status</strong>
                                <small>Active</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">ABHIJIT DATT</a>
                                    <small class="dob">(DOB: 01/06/1949)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                00790029
                                (AEPPD1508P)
                            </td>
                            <td class="">
                                375 PRINCE ANWAR SHAH ROAD, SOUTH CITY APARTMENTS, FLAT NO. 27A, TOWER 4. KOLKATA 700068
                                WB IN</td>
                            <td>
                                Director
                                (Independent)
                            </td>
                            <td>07/11/2012 </td>
                            <td class="sorting_1">16/05/2011</td>
                            <td>15/01/2022</td>
                            <td>0.12 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>dattaabhijit@ ymail.com</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">HEMANT MAHIPATRAY SHAH</a>
                                    <small class="dob">(DOB: 20/05/1953)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                00009659
                                (AAHPS2340E)
                            </td>
                            <td class="">
                                AKRUTI 6TH FLOOR, 23/F DOONGERSEY ROAD, WALKESHWAR, MALABAR HILL, MUMBAI 400006 MH IN
                            </td>
                            <td>
                                Whole-time director (-)
                            </td>
                            <td>01/01/2012 </td>
                            <td class="sorting_1">16/02/1989 </td>
                            <td>-</td>
                            <td>7.52 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>-</td>
                            <td>
                                <strong class="small">DIN Status</strong>
                                <small>Approved</small>
                                <strong class="small">DSC Status</strong>
                                <small>Active</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">KETAKI RAJAT SHAH</a>
                                    <small class="dob">(DOB: 18/08/1960)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                08865092
                                (ALNPS9506R)
                            </td>
                            <td class="">
                                -
                            </td>
                            <td>
                                Director
                                (Independent)
                            </td>
                            <td>24/12/2020 </td>
                            <td class="sorting_1">15/09/2020 </td>
                            <td>-</td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>sketki188@ gmail.com</td>
                            <td>
                                <strong class="small">DIN Status</strong>
                                <small>Approved</small>
                                <strong class="small">DSC Status</strong>
                                <small>Active</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">KARTIK RUPAREL</a>
                                    <small class="dob">(DOB: 03/10/1988)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                08865104
                                (AKEPR9357D)
                            </td>
                            <td class="">
                                -
                            </td>
                            <td>
                                Director
                                (Independent)
                            </td>
                            <td>24/12/2020 </td>
                            <td class="sorting_1">15/09/2020 </td>
                            <td>-</td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>kartikruparel@ gmail.com</td>
                            <td>
                                <strong class="small">DIN Status</strong>
                                <small>Approved</small>
                                <strong class="small">DSC Status</strong>
                                <small>Active</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">SUNIL CHANDRAKANT SHAH</a>
                                    <small class="dob">(DOB: 29/09/1959)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                06947244
                                (AAKPS0962K)
                            </td>
                            <td class="">
                                14 D LANDSEND BUILDING, 29 DONGERSI ROAD, NEAR ELIZABETH NURSING HOME, MALABARHILL
                                MUMBAI 400006 MH IN
                            </td>
                            <td>
                                Director (Independent)
                            </td>
                            <td>25/09/2014</td>
                            <td class="sorting_1">14/08/2014 </td>
                            <td>-</td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>sunilacc@ yahoo.com</td>
                            <td>
                                <strong class="small">DIN Status</strong>
                                <small>Approved</small>
                                <strong class="small">DSC Status</strong>
                                <small>Expired on 29/07/2022</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">PRITI KAMLESH SHAH</a>
                                    <small class="dob">(DOB: 23/11/1970 </small>
                                </div>
                            </td>
                            <td class="text-right">
                                01880436
                                (ANDPS3337C)
                            </td>
                            <td class="">
                                1001,KANCHAN,N.S.ROAD NO.5,J.V.P.D SCHEME, NEAR COOPER HOSPITAL,VILE PARLE MUMBAI 400056
                            </td>
                            <td>
                                Director
                                (Professional)
                            </td>
                            <td>25/09/2014 </td>
                            <td class="sorting_1">14/08/2014 </td>
                            <td>25/05/2021 </td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>priti@ live.in</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">MITKUMAR KORADIA</a>
                                    <small class="dob">(DOB: 14/11/1987)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                09499124
                                (AMFPK5330A)
                            </td>
                            <td class="">
                                -
                            </td>
                            <td>
                                Additional Director
                                (Independent)
                            </td>
                            <td>14/02/2022</td>
                            <td class="sorting_1">14/02/2022 </td>
                            <td>-</td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>koradiamit@ gmail.com</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">SUNIL MAGO</a>
                                    <small class="dob">(DOB: -)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                AHDPM3990K
                                (-)
                            </td>
                            <td class="">
                                -
                            </td>
                            <td>
                                CFO
                                (-)
                            </td>
                            <td>-</td>
                            <td class="sorting_1">-</td>
                            <td>05/07/2019 </td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021) </strong>
                            </td>
                            <td>sunil.mago@ hubtown.co.in</td>
                            <td>
                                <strong class="small">DSC Status</strong>
                                <small>Active</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                <div>
                                    <a href="Director_details.html">SADANAND SITARAM LAD</a>
                                    <small class="dob">(DOB: -)</small>
                                </div>
                            </td>
                            <td class="text-right">
                                ACCPL5833A
                                (-)
                            </td>
                            <td class="">
                                -
                            </td>
                            <td>
                                Director
                                (Independent)
                            </td>
                            <td></td>
                            <td class="sorting_1">-</td>
                            <td>-</td>
                            <td>0.00 %
                                <strong>(As On 31/03/2021)</strong>
                            </td>
                            <td>sadanand.lad@ hubtown.co.in</td>
                            <td>
                                <strong class="small">DSC Status</strong>
                                <small>Expired on 18/06/2022</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- profile Modal -->
<div class="modal custom-modal fade" id="profile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Directors</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Information about the members on the Board of Directors and Key Management Personnel who are reported by the company as Signatories to MCA documents and their Directorships in other companies.</p>
            </div>
        </div>
    </div>
</div>