<div class="container-fluid">
    <div class="row">
        <div class="col-12 title-section d-flex justify-content-between ">
            <div class="title-left-sec">
                <i class="bi bi-calculator"></i>
                <h2 class="tabs-name">Auditors</h2>
                <a href="#" data-bs-target="#profile" data-bs-toggle="modal"><i class="bi bi-info-circle"></i></a>
                <a href="#" class="text-red" data-bs-target="#disclaimer" data-bs-toggle="modal"><i
                        class="bi bi-exclamation-triangle"></i></a>
                <span class="AsOndate">As On : <span>03/03/2021</span></span>
            </div>
            <div>
                <button class="btn crp-custom-btn btn-red">Imp. Note</button>
                <button class="btn crp-custom-btn btn-teal-outline"><i class="bi bi-file-earmark-excel"></i> Export to Excel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Financial Year</th>
                        <th>Name of Auditor or Firm</th>
                        <th>Firm Registration Number</th>
                        <th>Name of Person Signing Audit Report</th>
                        <th class="text-end">Membership Number</th>
                        <th>Whether Financial Statement Qualified?</th>
                        <th>Whether CARO Applicable?</th>
                        <th>Date of Resignation</th>
                        <th>Reason for Resignation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2017-2018</td>
                        <td>MH Dalal and Associates</td>
                        <td>112449W</td>
                        <td>Dalal Devang M</td>
                        <td class="text-end">109049</td>
                        <td>NO</td>
                        <td><a href="#"><i class="bi bi-plus-square"></i> Yes</a></td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>