<nav class="navbar navbar-expand-sm justify-content-between custom-nav fixed-top">
    <div class="container-fluid">
        <div class="d-flex align-middle">
            <div class="toggle" id="toggleside" onclick="myFunction(this)" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <a class="navbar-brand" href="#">
                <img src="../assets/images/corpository-brand-icon.png" class="img-responsive full_logo"
                    alt="CorpositoryBrand" />
                <img src="../../assets/images/favicon-white.svg" class="logo_icon" alt="CorpositoryBrand">
            </a>
        </div>
        <form action="">
            <div class="input-group">
                <select name="" id="select_designatfirst">
                    <option value="0" selected><i class="bi bi-search"></i> Company/LLP</option>
                    <option value="1"> <i class="bi bi-search"></i>
                        Director/Partner</option>
                </select>
                <input type="text" class="form-control" id="empSearch" placeholder="Search Company/LLP By Name"
                    autocomplete="off">
                <button class="btn">
                    <i class="bi bi-search"></i>
                    Search
                </button>
            </div>
        </form>
        <ul class="navbar-nav custom-nav-list">
            <li class="nav-item">
                <a class="nav-link searchToggle">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link" data-bs-toggle="dropdown">solution <i class="bi bi-chevron-down"></i></a>
                <ul class="dropdown-menu custom-dropdown dropdown_animation">
                    <li><a class="dropdown-item" href="#">explore</a></li>
                    <li><a class="dropdown-item" href="#">gst anlyse</a></li>
                    <li><a class="dropdown-item" href="#">monitor</a></li>
                    <li><a class="dropdown-item" href="#">riskQ</a></li>
                    <li><a class="dropdown-item" href="#">verify</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    History
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">Hi,Urmi <i
                        class="bi bi-chevron-down"></i></a>
                <ul class="dropdown-menu custom-dropdown dropdown_animation">
                    <div class="profile-header">
                        <div>
                            <div class="user-icon">
                                <i class="bi bi-person"></i>
                            </div>
                            <div class="user-info">
                                <span class="userName">Pradip</span>
                                <span class="userMail">pradip.singh@corpository.com</span>
                            </div>
                        </div>
                        <div class="">
                            <a href=""><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> <span>setting</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-layers"></i> <span>about us</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-file-text"></i> <span>terms and
                                conditions</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-shield-check"></i> <span>privacy
                                policy</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-envelope"></i> <span>contact us</span></a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-chat-dots"></i> <span>feedback</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-power"></i> <span>signout</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>