@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700italic,700);

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.btn-teal {
    font-size: 14px;
    font-weight: 500;
    font-family: roboto;
    padding: 4px 8px;
    text-transform: capitalize;
    border-radius: 4px;
    color: #00a9a6;
    border: 1px solid #00a9a6;
    margin-left: 16px;

}

.btn-teal:first-child {
    margin-left: 0;
}

.btn-teal-fill {
    color: #fff;
    background-color: #00a9a6;
}

.btn-teal-fill:hover,
.btn-teal-fill:focus,
.btn-teal-fill:active,
.btn-teal-fill:active:focus {
    background-color: #fff;
    color: #00a9a6;
    border: 1px solid #00a9a6;
}

.btn-teal-outline:hover,
.btn-teal-outline:focus,
.btn-teal-outline:active,
.btn-teal-outline:active:focus {
    background-color: #00a9a6;
    color: #fff;
    border: 1px solid #00a9a6;
}

.btn-teal-text {
    border: none;
    color: #00a9a6;
}

.btn-teal-text:hover,
.btn-teal-text:focus,
.btn-teal-text:active,
.btn-teal-text:active:focus {
    color: #0f6564;
}

h1 {
    font-size: 24px;
    font-family: Titillium Web;
    margin: 0;
}

a {
    color: #00a9a6;
    text-decoration: none;
}

a:hover {
    color: #0a8381;
}

/* =====navbar css start here======= */
.custom-nav {
    background-color: #1D3159;
}

.custom-nav .navbar-brand img {
    height: 30px;
}

.toggle {
    font-size: 24px;
    display: inline !important;
    color: #fff;
    float: left;
    vertical-align: middle;
    margin: 14px 24px 0 12px;
    cursor: pointer;
}

.custom-nav form {
    width: calc(100% - 480px);
    max-width: 900px;
}

.toggle div {
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    width: 20px !important;
    transition: 0.4s;
}

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    -webkit-transform: rotate(45deg) translate(-2px, -3px);
    transform: rotate(45deg) translate(-2px, -3px);
}

.custom-nav form .input-group {
    overflow: hidden;
    border-radius: 4px;
}

.custom-nav form .input-group select,
.custom-nav form .input-group input.form-control {
    padding: 6px 12px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;
}

.custom-nav form .input-group input.form-control {
    border-left: 1px solid #1D3159;
}

.custom-nav form .input-group input.form-control:focus {
    box-shadow: none;
    border-color: #1D3159;
}

.custom-nav form .input-group .btn {
    background-color: #00a9a6;
    color: #fff;
    font-size: 14px;
    display: flex;
    gap: 4px;

}

.custom-nav form .input-group select:focus-visible {
    outline: none;
}

.custom-nav .custom-nav-list li .nav-link {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    font-family: Roboto;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}
.navbar-expand-sm .navbar-nav{
    flex-direction: row;
}
.searchToggle{display: none;}
/* =====navbar css closed here======= */
/* ====custom-dropdown css start here====== */
.custom-dropdown {
    border: 1px solid #DEE2E6;
}

.custom-dropdown a.dropdown-item {
    text-transform: capitalize;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
}

.custom-dropdown a.dropdown-item i {
    font-size: 16px;
}
img.logo_icon{display: none;}
/* ===== Sidebar css start here ===== */
.sidebar {
    position: fixed;
    top: 57px;
    left: 0;
    height: 100%;
    width: 264px;
    padding: 0px;
    padding-top: 24px;
    background-color: #fff;
    transition: .6S;
    z-index: 1000;
    border-right: 1px solid #DEE2E6;
}

.sidebar div#nav-tab {
    flex-direction: column;
    display: flex;
    gap: 4px;
    border: none;
}

.sidebar div#nav-tab .nav-link {
    padding: 8px 0;
    border: none;
    position: relative;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #00a9a6;
}

.sidebar div#nav-tab .nav-link span.text {
    transition: .6s;
}

.sidebar .nav-tabs .nav-link.free-tab {
    color: #444 !important;
}

.sidebar div#nav-tab .nav-link:hover {
    color: #444;
}

.sidebar li a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 0;
    background-color: #00a9a6;
    transition: 0.8s;
}

.sidebar li a:hover::after {
    height: 100%;
    transition: 0.8s;
}

.sidebar .nav-tabs .nav-link.active {
    color: #444 !important;
    width: 72px;
}
.sidebar .nav-tabs .nav-link.active::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #00a9a6;
    left: 0;
    top: 0;
}

.sidebar .icon {
    min-width: 72px;
    display: flex;
    justify-content: center;
}
.sidebar .text{
    display: none;
    margin-left: -10px;
}

.displayBlock{display: block !important;}
.sidebar li:hover{
    background-color: white;
    width: 264px !important;
}

.sidebar li:hover span.text {
   display: block;
   transition: .6;
}

.sidebar.close {
    width: 72px;
}

/* ============Sidebar css end here=============== */

/* =========wrapper css start here========== */
.wrapper {
    margin-left: 72px;
    margin-top: 57px;
    min-height: calc(100vh - 83px);
    transition: .6s;
}

/* =========wrapper css end here========== */
.update-msg{
    background-color: #FFDA6A;
    padding: 6px 24px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}
button.btn.btn_note {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 4px 12px;
    height: 30px;
    margin-right: 12px;
}
.update-msg #update-msg-close{
    cursor: pointer;
}


/* =====title-sec css strat here========== */
.title-section {
    margin-bottom: 12px;
    align-items: center;
}
.title-left-sec{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
}
.title-left-sec .AsOndate{
    font-weight: 300;
}
span.tabs-name{
    text-transform: capitalize;
}
/* =========card css start here========== */
.card.custom-card {
    padding: 16px;
    gap: 12px;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #DEE2E6;
}

.card.custom-card .card-header {
    padding: 0 0 8px 0;
    background: transparent;
    border-bottom: 1px solid #DEE2E6;

}

.card.custom-card .card-header h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    color: #444;
    font-family: Titillium Web;
    margin-bottom: 4px;
}

.card.custom-card .card-body {
    padding: 0;
}

ul.card-list-item {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

ul.card-list-item .list-title {
    color: #6C757D;
    font-size: 12px;
    font-weight: 600;
    font-family: Roboto;
}

ul.card-list-item .list-details {
    color: #444;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

/* =========card css end here========== */
/* =========secondary-header css start here========== */
.secondary-header {
    background-color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 24px;
}

.company-name {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.company-name i {
    color: #00a9a6;
}

.company-name h1 {
    font-family: Titillium Web;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}
.btn-mobile{
    display: none;
}
/* =========secondary-header css end here========== */
/* custom-table css start */
.custom-table{
    width: 100%;
    border-collapse: collapse;
}
.custom-table thead tr th{
    font-size: 14px;
    font-family: Titillium Web;
    text-transform: uppercase;
    padding: 4px;
}
.custom-table tbody tr td{
    font-size: 14px;
    padding: 4px;

}
/* custom-table css start */
/* ====dropdown css start here===== */
.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

/* =========footer css start here========= */
.footer {
    margin-left: 54px;
    transition: .6s;
}

/* =========footer css closed here========= */





@media screen and (min-width: 1400px) {
    /* .container {
        max-width: 1140px;
    } */
}

@media screen and (max-width: 1199px) {
    /* .container {
        max-width: 100%;
    } */
    .custom-nav form{
        width: calc(100% 600px);
    }
}

@media screen and (max-width: 1023px) {
    
}
@media screen and (max-width: 991px) {
    img.img-responsive.full_logo{
        display: none;
    }
    img.logo_icon{display: block ;}
    .custom-nav form{
        width: calc(100% - 350px);;
    }
    .btn-desktop-group{display: none;}
    .btn-mobile{
        display: inline-block;
    }
    .custom-nav form .input-group .btn{
        color: #00a9a6;
        max-width: 40px;
    }
    .custom-nav form .input-group .btn i{color: #fff;}

    .sidebar.close {
        width: 0 !important;
        left: -100%;
    }

    /* .sidebar{left: -220px;} */
    .m-left,
    .wrapper,
    .footer {
        margin-left: 0 !important;
    }

}
@media screen and (max-width: 767px){
    .searchToggle{display: block;}
    .custom-nav form{
        display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background: #1D3159;
    padding: 16px;
    left: 0px;
    right: 0px;
    }

}

@media (max-width: 575px){
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
}
.custom-nav .custom-nav-list li .nav-link{
    padding: 8px;
}
.custom-nav .navbar-brand{
    margin-right: 0;
}
.toggle{
    margin: 14px 12px 0 0px;
}
.update-msg{
    padding: 6px 12px;
    font-size: 10px;
}
}
.card .dataTables_wrapper div#example_length,div#example_filter {
    display: none !important;
}