@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700italic,700);

body {
    background: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    color: #212529;
    ;
}

.text-blue {
    color: #1D3159 !important;
}

.text-red {
    color: #DC3545 !important;
}

.pdf-red {
    color: #B02A37 !important;
}

.text-yellow {
    color: #FFC107 !important;
}

.text-green {
    color: #198754;
}
.card-border-teal {
    border: 1px solid #99CECD !important;
}
.c-mb-10 {
    margin-bottom: 10px;
}
.crp-custom-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 12px;
}
.btn-red {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #DC3545;
    padding: 6px 12px;
    border: 1px solid #DC3545;
    border-radius: 6px;
    margin-right: 8px;
}

.btn-red:hover {
    background-color: #DC3545;
    color: #fff;
}
.gray-btn{
    background: #343A40;    
    color: #fff;
    border: 1px solid #343A40;
}
.gray-btn:hover{
    color: #343A40;    
    background-color: #fff;
    border: 1px solid #343A40;
}
.btn-teal:last-child {
    margin: 8px 0 0 0 !important;
}
.btn-teal {
    font-size: 14px;
    font-weight: 500;
    font-family: roboto;
    padding: 6px 12px;
    text-transform: capitalize;
    border-radius: 6px;
    color: #008582;
    border: 1px solid #008582;
    margin-right: 8px;
    background-color: #fff;

}



.btn-teal-fill {
    color: #fff;
    background-color: #008582;
}

.btn-teal-fill:hover,
.btn-teal-fill:focus,
.btn-teal-fill:active,
.btn-teal-fill:active:focus {
    background-color: #fff;
    color: #008582;
    border: 1px solid #008582;
}

.btn-teal-outline:hover,
.btn-teal-outline:focus,
.btn-teal-outline:active,
.btn-teal-outline:active:focus {
    background-color: #008582;
    color: #fff;
    border: 1px solid #008582;
}

.btn-teal-text {
    border: none;
    color: #008582;
}

.btn-teal-text:hover,
.btn-teal-text:focus,
.btn-teal-text:active,
.btn-teal-text:active:focus {
    color: #0f6564;
}

.btn-cancel {
    border: 1px solid #ADB5BD;
    padding: 6px 12px;
    font-size: 14px;
    color: #495057;
}

.btn-cancel:hover,
.btn-cancel:focus {
    border: 1px solid #ADB5BD;
    background-color: #495057;
    color: #fff;
}

button.flag-btn {
    font-size: 12px;
    background: #ffff;
    margin-left: 8px;
    border: 1px solid;
    border-radius: 6px;
    padding: 3px 12px;
    max-height: 30px;
    margin-top: 4px;
}

button.flag-btn i {
    font-size: 14px;
    margin-right: 4px;
}

.green-flag {
    border: 1px solid #479F76 !important;
}

.green-flag:hover {
    border: 1px solid #479F76 !important;
    background-color: #479F76;
    color: #fff;
}

.green-flag:hover i,
.yellow-flag:hover i,
.red-flag:hover i {
    color: #fff;
}

.green-flag i {
    color: #479F76;
}

.yellow-flag {
    border: 1px solid #FFC107 !important;
}

.yellow-flag:hover {
    border: 1px solid #FFC107 !important;
    background-color: #FFC107;
    color: #fff;
}

.yellow-flag i {
    color: #FFC107;
}

.red-flag {
    border: 1px solid #E35D6A !important;
}

.red-flag:hover {
    border: 1px solid #E35D6A !important;
    background-color: #E35D6A;
    color: #fff;
}

.red-flag i {
    color: #E35D6A;
}

.btn-desktop-group .dropdown {
    /* margin-left: 8px; */
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    font-family: Titillium Web;
    margin: 0;
    font-weight: 600;


}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    line-height: 32px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

a {
    color: #008582;
    text-decoration: none;
}

a:hover {
    color: #0a8381;
}

/* =====navbar css start here======= */
.custom-nav {
    background-color: #1D3159;
}

.custom-nav .navbar-brand img {
    height: 30px;
}

.toggle {
    font-size: 24px;
    display: inline !important;
    color: #fff;
    float: left;
    vertical-align: middle;
    margin: 12px 24px 0 12px;
    cursor: pointer;
}

.custom-nav form {
    width: calc(100% - 480px);
    max-width: 900px;
}

.toggle div {
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    width: 20px !important;
    transition: 0.4s;
}

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    -webkit-transform: rotate(45deg) translate(-2px, -3px);
    transform: rotate(45deg) translate(-2px, -3px);
}

.custom-nav form .input-group {
    border-radius: 6px;
}

.custom-nav form .input-group .select-box,
.custom-nav form .input-group input.form-control {
    padding: 6px 12px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;
}

.custom-nav form .input-group .select-box {
    background-color: #fff;
    color: #212529;
    text-transform: capitalize;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.custom-nav form .input-group .custom-select {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    padding: 4px 0;
}

.custom-nav form .input-group .custom-select li a {
    padding: 4px 10px;
    font-size: 14px;
}

.custom-nav form .input-group .select-box i,
.custom-nav form .input-group .custom-select li a i {
    color: #008582;
    font-size: 16px;
}

.custom-nav form .input-group .select-box .bi-chevron-down {
    font-size: 12px;
    color: #212529;
    margin-left: 4px;
}

.custom-nav form .input-group input.form-control:focus {
    box-shadow: none;
}

.custom-nav form .input-group input::placeholder {
    color: #ADB5BD;
    font-weight: 400;
    text-transform: capitalize;
}

span.line {
    width: 16px;
    border: 1px solid #DEE2E6;
    margin: 0 8px;
}

.custom-nav form .input-group .btn {
    background-color: #008582;
    color: #fff;
    font-size: 14px;
    display: flex;
    gap: 4px;

}

.custom-nav form .input-group select:focus-visible {
    outline: none;
}

.custom-nav .custom-nav-list {
    gap: 4px;
}

.custom-nav .custom-nav-list li .nav-link {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    font-family: Roboto;
    border-radius: 6px;
    position: relative;
}

.custom-nav .custom-nav-list li .nav-link i {
    font-size: 16px;
}

.custom-nav .custom-nav-list li .nav-link:hover,
.custom-nav .custom-nav-list li .nav-link:focus,
.custom-nav .custom-nav-list li .nav-link:active {
    background-color: rgba(255, 255, 255, 0.15);
}

span.notification-status {
    width: 8px;
    height: 8px;
    display: block;
    background: red;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 11px;
    right: 8px;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}

.searchToggle {
    display: none;
}

.solution_dropdown {
    width: 814px;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 16px;
}
.product-inner-bar {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    position: relative;
}
.normal-card{
    background-color: var(--white);
    border-radius: 6px;
    padding: 16px;
    border: 1px solid #E9ECEF;
    /* margin-bottom: 10px; */
}

.p-inner-left {
    margin-right: 10px;
}
.eop-icon {
    background: linear-gradient(143.13deg, rgba(0, 169, 166, 0.2) -34.13%, rgba(204, 238, 237, 0.2) 70.04%);
    border-radius: 30px;
    border: 2px solid white;
    color: var(--teal);
    font-size: 14px;
    font-weight: 600;
    height: 38px;
    min-width: 38px;
    padding: 6px 3px 0 3px;
    text-align: center;
    font-family: 'Roboto';
}
.eop-icon-one {
    background: linear-gradient(143.13deg, rgba(73, 80, 87, 0.2) -34.13%, rgba(222, 226, 230, 0.2) 70.04%);
    border-radius: 30px;
    border: 2px solid white;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    height: 38px;
    min-width: 38px;
    padding: 6px 3px 0 3px;
    text-align: center;
    font-family: 'Roboto';
}
.p-inner-right h6 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--blackcolor);
}
.p-inner-right p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}
#pointer {
    width: 60px;
    height: 29px;
    position: relative;
    /* background: #EE6047; */
    border-top-right-radius: 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom-right-radius: 0px;
    position: absolute;
    /* left: 0; */
    top: -10px;
    right: -26px;
}
.shine {
    background: #EE6047;
    background-image: linear-gradient(to right, #EE6047 0%, #EE6047 20%, #EE6047 40%, #EE6047 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}
#pointer:before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -9px;
    width: 0;
    height: 0px;
    border-bottom: 9px solid #EE6047;
    border-right: 10px solid #EE6047;
    border-bottom-right-radius: 20px;
}
#pointer:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 14px solid transparent;
    border-bottom: 15px solid transparent;
}
#pointer span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    color: #fff;
    padding: 7px 2px;
    text-align: center;
    text-transform: uppercase;
}
/* =====navbar css closed here======= */

img.logo_icon {
    display: none;
}

/* ===== Sidebar css start here ===== */
.sidebar {
    position: fixed;
    top: 57px;
    left: 0;
    height: 100%;
    width: 264px;
    padding: 0px;
    padding-top: 8px;
    background-color: #fff;
    transition: .6S;
    z-index: 1000;
    border-right: 1px solid #DEE2E6;
}

.sidebar div#nav-tab {
    flex-direction: column;
    display: flex;
    gap: 4px;
    border: none;
}

.sidebar div#nav-tab .nav-link {
    padding: 8px 0;
    border: none;
    position: relative;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #008582;
    font-size: 16px;
}

.sidebar div#nav-tab .nav-link span.text {
    transition: .6s;
}

.sidebar .nav-tabs .nav-link.free-tab {
    color: #444 !important;
}

.sidebar li a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 0;
    background-color: #008582;
    transition: 0.8s;
}

.sidebar li a:hover::after {
    height: 100%;
    transition: 0.8s;

}

.sidebar .nav-tabs .nav-link.active {
    background-color: #CCE7E6 !important;
}

.sidebar.close .nav-tabs .nav-link.active {
    width: 72px !important;
}

.sidebar.close .nav-tabs .nav-link.active:hover {
    background-color: #CCE7E6 !important;
    width: 264px !important;


}

.sidebar .nav-tabs .nav-link.active::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #008582;
    left: 0;
    top: 0;
}

.sidebar .icon {
    min-width: 72px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.sidebar .text {
    display: none;
    margin-left: -10px;
}

.sidebar .nav-tabs li:hover .nav-link {
    background-color: white;
    width: 264px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
}

.sidebar li:hover span.text {
    display: block;
    transition: .6;
}

.sidebar.close {
    width: 72px;
}

/* ============Sidebar css end here=============== */

/* =========wrapper css start here========== */
.wrapper {
    margin-left: 72px;
    margin-top: 57px;
    min-height: calc(100vh - 81px);
    transition: .6s;
}

/* =========wrapper css end here========== */
.update-msg {
    background-color: #FFF3CD;
    padding: 6px 24px;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #664D03;
    justify-content: space-between;
}

button.btn.btn_note {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 4px 12px;
    height: 30px;
    margin-right: 12px;
}

.update-msg #update-msg-close {
    cursor: pointer;
}


/* =====title-sec css strat here========== */
.title-section {
    margin-bottom: 12px;
    align-items: center;
}

.title-left-sec {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.title-left-sec .bi {
    font-size: 16px;
}

.AsOndate {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #6C757D;
}

.title-left-sec .financial-year {
    font-weight: 500;
    font-size: 12px;
}

.tabs-name {
    text-transform: capitalize;
}

/* =========card css start here========== */
.card.custom-card {
    padding: 0;
    gap: 12px;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #DEE2E6;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}

.card.custom-card .card-header {
    padding: 16px 16px 8px 16px;
    background: transparent;
    border-bottom: 1px solid #DEE2E6;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card.custom-card .card-header.border-none {
    border-bottom: none !important;
}

.card.custom-card .card-header h3 {
    text-transform: capitalize;
    margin-bottom: 4px;
}

.card.custom-card .card-body {
    padding: 0 16px 16px 16px;
}

ul.card-list-item {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
}

.custom-card .list-title {
    color: #6C757D;
    font-size: 12px;
    font-weight: 600;
    font-family: Roboto;
}

.custom-card .list-details {
    color: #444;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    align-items: center;
}

.custom-card .list-details .old-name {
    font-weight: 500;
}

.custom-card .btn {
    margin-left: 0 !important;
    margin-top: 8px;
}

.media-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-icon {
    font-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #E9ECEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-badge {
    padding: 4px 8px;
    background: #D1E7DD;
    border-radius: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #0A3622;

}

/* =========card css end here========== */
/* charges sec css */
.charges-total-sec {
    margin-bottom: 12px;
}

.charges-total-sec .nav {
    gap: 8px;
}

.charges-total-sec .nav li {
    display: flex;
    gap: 4px;
    align-items: center;
}

.charges-total-sec .nav li .closed {
    width: 16px;
    height: 16px;
    background: #479F76;
    border-radius: 2px;
    display: inline-block;
}

.charges-total-sec .nav li .open {
    width: 16px;
    height: 16px;
    background: #E35D6A;
    border-radius: 2px;
    display: inline-block;
}

.charges-total-sec .nav li label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #6C757D;
}

.charges-total-sec .openCharge {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212529;
}

/* ========custom-tabs css start here========= */
.custom-tabs {
    gap: 8px;
    border: none;
}

.custom-tabs .nav-link {
    color: #495057;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 8px;
    border: none;
    border-bottom: 3px solid transparent;
}

.custom-tabs .nav-link.active {
    border-bottom: 3px solid #008582;
    color: #008582;
    background-color: transparent;
}

/* ========custom-tabs css end here========= */
/* custom-tabs-group css start here */
.custom-tabs-group {
    display: inline-flex;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    overflow: hidden;
}

.custom-tabs-group .nav-link {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    padding: 6px 12px;
    border: none;
    border-right: 1px solid #DEE2E6;
    border-radius: 0;
}

.custom-tabs-group .nav-link:last-child {
    border-right: none;
}

.custom-tabs-group .nav-link.active {
    background: #212529;
    color: #fff;
}

.financial-second-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 12px;
}

/* shareholding page css start here */
.shareallotment {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shareallotment-title {
    font-size: 16px;
    font-family: Titillium Web;
    font-weight: 600;
    color: #212529;
}

/* =====news-card css start here====== */
.news-card {
    display: flex;
    gap: 16px;
    padding: 16px;
    border: 1px solid #DEE2E6;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 16px;
}

.news-card h2 {
    margin-bottom: 16px;
}

.news-card p {
    color: #212529;
    font-family: 'Roboto';
    margin-bottom: 0;
    font-size: 14px;
}

.news-card span {
    font-size: 12px;
    color: #6C757D;
}

/* =====news-card css end here====== */

/* -====timeline-block css start here======= */
.timeline-block {
    position: relative;
    min-height: 57px;
}

.timeline-block::before {
    position: absolute;
    content: "";
    border-left: 1px dashed #DEE2E6;
    left: 50%;
    top: 0;
    height: 100%;
}

.timeline-block:last-child:before {
    border-left: 1px dashed transparent;
}

.timeline-block::after {
    width: 10px;
    height: 10px;
    background-color: #008582;
    ;
    position: absolute;
    content: "";
    top: 0;
    left: 48.5%;
    border-radius: 10px;
}

.timeline-block .timeline-content {
    width: 45%;
    text-align: right;
    padding: 0 8px 0 0;
}

.timeline-block:nth-child(2) .timeline-content {
    float: right;
    text-align: left;
    padding: 0 0 0 8px;
}

/* flags css start here */
.rating-frame {
    display: flex;
    gap: 8px;
    margin-bottom: 14px;
}

.rating-block {
    width: 100%;
    height: 30px;
    display: inline-block;
    position: relative;
}

.rating-block.active::after {
    position: absolute;
    content: "";
    background-image: url(../images/tringle.svg);
    height: 40px;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 40px;
    left: 50%;
    transform: translate(-50%);

}

.rating-block:nth-child(1) {
    background: #07AD47;
}

.rating-block:nth-child(2) {
    background: #DBEB51;
}

.rating-block:nth-child(3) {
    background: #FFFF00;

}

.rating-block:nth-child(4) {
    background: #E5CC4C;

}

.rating-block:nth-child(5) {
    background: #FFBF40;

}

.rating-block:nth-child(6) {
    background: #FF7030;

}

.rating-block:nth-child(7) {
    background: #FF0000;

}

/* =========secondary-header css start here========== */
.secondary-header {
    background-color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 12px;
}

.company-name {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.company-name i {
    color: #008582;
}

.company-name h1 {
    font-family: Titillium Web;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.btn-mobile {
    display: none;
}

/* =========secondary-header css end here========== */
/* financial-tabs */
.financial-tabs {
    border-bottom: 1px solid #DEE2E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* custom-table css start */
.custom-table {
    width: 100% !important;
    border-collapse: collapse;
    border: 1px solid #CED4DA;
    background-color: #fff;
}

.custom-table thead tr th {
    font-size: 14px;
    font-family: Titillium Web;
    text-transform: uppercase;
    padding: 8px;
    border: 1px solid #CED4DA;
    vertical-align: middle;
    background: #E9ECEF;
    color: #495057;
}

.custom-table tbody tr td {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #CED4DA;
    vertical-align: middle;
    color: #343A40;
    position: relative;
}

.custom-table tbody tr td.open::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #E35D6A;
    left: 0px;
    top: 0;
}

.custom-table tbody tr td.close::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #479F76;
    left: 0px;
    top: 0;
}

.custom-table tbody tr th {
    background-color: #E9ECEF;
    color: #495057;
    font-size: 14px;
    border: 1px solid #CED4DA;
}

.custom-table tbody tr.total-amount td {
    font-weight: 600;
    color: #0a8381;
}

.custom-table tbody tr.highlite th {
    font-size: 12px;
    background: #F8F9FA;
    color: #1D3159;
    ;
}

.custom-table tbody tr td a {
    font-weight: 500;
    gap: 4px;
}

.custom-table small.dob {
    display: block !important;
}

.custom-table tbody td span.badge.bg-danger {
    color: #58151C;
    background: #F8D7DA !important;
    padding: 4px 8px;
    border-radius: 24px;
    font-size: 12px;
}

.inner-bold-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #6C757D;
}

/* custom-table css start */

/* ====datatable css start here==== */

/* ====datatable css start here==== */
/* dragarea */
.dragarea {
    text-align: center;
    border-radius: 6px;
    padding: 16px;
    border: 1px dashed #ADB5BD;
    background-color: #F8F9FA;
}

.dragarea .drag-title {
    font-size: 14px;
    color: #212529;
    text-transform: capitalize;
    margin-bottom: 8px;
    display: inline-block;
}

.dragarea small {
    color: #495057;
    display: block;
    font-size: 12px;
}

.upload-icon {
    font-size: 24px;
}

.my-file {
    display: none;
}

/* =========footer css start here========= */
.footer {
    margin-left: 72px;
    transition: .6s;
}

.footer span {
    font-size: 12px;
    color: #ADB5BD;
}

.footer .nav li a {
    font-size: 12px;
    color: #fff;
    margin-right: 16px;
}

/* =========footer css closed here========= */

/* ====dropdown css start here====== */
.custom-dropdown {
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.dropdown-menu.show {
    top: 100% !important;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    padding: 12px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #212529;
    padding: 8px 12px;
    margin-bottom: 4px;
}

.profile-header div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-header .user-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 0 8px;
    border: 1px solid #DEE2E6;
    font-weight: 600;
    font-size: 16px;
    color: #495057;
}

.profile-header .userName {
    font-size: 14px;
    display: block;
}

.profile-header .userMail {
    font-size: 12px;
    color: #ADB5BD;
    ;
}

.custom-dropdown a.dropdown-item {
    text-transform: capitalize;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #495057;
    border-radius: 6px;
}

.custom-dropdown a.dropdown-item:hover,
.custom-dropdown a.dropdown-item:focus,
.custom-dropdown a.dropdown-item:active {
    background: #F8F9FA;
}

.custom-dropdown .dropdown-item.active {
    background: #F8F9FA;
    color: #212529;
}

.custom-dropdown a.dropdown-item i {
    font-size: 16px;
}

.signOut-btn {
    width: 100%;
    text-align: center;
    border: 1px solid;
    padding: 6px 12px;
    color: #495057;
    font-weight: 500;
    border: 1px solid #CED4DA;
    border-radius: 6px;
}

.signOut-btn:hover {
    background-color: #495057;
    color: #fff;
}

.dropdown_animation {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

@-moz-keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }

    70% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@-webkit-keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }

    70% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@-o-keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }

    70% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }

    70% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

/* ====dropdown css end here====== */
/* =======custom-panel css start here========= */
.custom-panel {
    background: #fff;
    padding: 32px 16px;
    text-align: center;
    border: 1px solid #DEE2E6;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
    border-radius: 6px;
}

.custom-panel p {
    font-size: 14px;
    color: #343A40;
}

/* =======custom-panel css end here========= */

/* =====modal css start here========= */
.custom-modal .btn-close {
    font-size: 14px;
}

.custom-modal .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.custom-modal .modal-body p {
    font-size: 14px;
    color: #343A40;
    margin-bottom: 4px;
    line-height: 22px;
}

.custom-modal .modal-body p:last-child {
    margin-bottom: 0;
}

.custom-modal .modal-body strong {
    font-size: 14px;
    color: #343A40;

}

.custom-modal .modal-body small {
    font-size: 14px;
    color: #6C757D;
    font-weight: 500;
}

.custom-modal .tab-name {
    margin-bottom: 8px;
}

.custom-modal .tab-name span {
    font-size: 14px;
    font-weight: 500;
    color: #008582;
    padding: 6px 8px;
    border-bottom: 3px solid #008582;
}

.custom-modal .form-group {
    position: relative;
    color: #ADB5BD;
}

.custom-modal .form-group .bi-search {
    position: absolute;
    right: 12px;
    top: 8px;
    color: #ADB5BD;
}

.custom-modal .form-group .form-control {
    border: 1px solid #DEE2E6;
    padding: 6px 12px;
    color: #ADB5BD;
}

.custom-modal .modal-body li.after-dot {
    list-style-type: none;
    font-size: 14px;
    position: relative;
    padding-left: 16px;
}

.custom-modal .modal-body li.after-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #343A40;
    border-radius: 10px;
    top: 7px;
    left: 0;
}

/* ====end here==== */
/* pagination css  */
.custom-pagination {
    gap: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
}

.custom-pagination .pagination {
    margin: 0;
    font-size: 14px;
}

.custom-pagination span.result {
    color: #ADB5BD;
}

.custom-pagination span.result-dropdown {
    display: flex;
    gap: 8px;
    color: #495057;
    align-items: center;
    font-size: 14px;
}

.custom-pagination .result-dropdown select {
    padding: 4px 8px;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
}

.custom-pagination .result-dropdown select:focus-visible {
    outline: none;
}

.custom-pagination a.page-link {
    font-size: 14px;
    border: 1px solid #DEE2E6;
    padding: 4px 12px;
    color: #495057;
}

.custom-pagination a.page-link.Previous {
    color: #ADB5BD;
}

.custom-pagination a.page-link.active,
.custom-pagination a.page-link:focus,
.custom-pagination a.page-link:hover,
.custom-pagination a.page-link:active {
    background-color: #495057;
    color: #fff;
    outline: none;
    box-shadow: none;
}

/* note */
.note {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: #343A40;
}

/*========== toggle-switch-group css start here===========*/
.toggle-switch-group {
    display: flex;
    gap: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.toggle-switch-group span:last-child {
    margin-left: -8px;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-switch .form-check-input {
    height: 16px;
    border: 1px solid #ADB5BD;
    background-image: url(../images/gray-dot.svg);
    background-position: 1px center;
    background-size: 12px;
}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url(../images/white-dot.svg);
}

.form-check-input:checked {
    background-color: #008582;
    border-color: #008582;
}

/* ======media quer css start here======== */
@media screen and (min-width: 1400px) {
    /* .container {
        max-width: 1140px;
    } */
}

@media screen and (max-width: 1199px) {

    /* .container {
        max-width: 100%;
    } */
    .custom-nav form {
        width: calc(100% 600px);
    }
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    img.img-responsive.full_logo {
        display: none;
    }

    img.logo_icon {
        display: block;
    }

    .custom-nav form {
        width: calc(100% - 350px);
        ;
    }

    .btn-desktop-group {
        display: none;
    }

    .btn-mobile {
        display: inline-block;
    }

    .custom-nav form .input-group .btn {
        color: #008582;
        max-width: 40px;
        overflow: hidden;
    }

    .custom-nav form .input-group .btn i {
        color: #fff;
    }

    .sidebar.close {
        width: 0 !important;
        left: -100%;
    }

    /* .sidebar{left: -220px;} */
    .m-left,
    .wrapper,
    .footer {
        margin-left: 0 !important;
    }

}

@media screen and (max-width: 767px) {
    .searchToggle {
        display: block;
    }

    .custom-nav form {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        background: #1D3159;
        padding: 16px;
        left: 0px;
        right: 0px;
    }

    .footer .nav li a {
        margin-right: 8px;
    }
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .custom-nav .custom-nav-list li .nav-link {
        padding: 8px;
    }

    .custom-nav .navbar-brand {
        margin-right: 0;
    }

    .toggle {
        margin: 12px 12px 0 0px;
    }

    .update-msg {
        padding: 6px 12px;
        font-size: 10px;
    }

    .social-media {
        justify-content: center !important;
    }

    .footer span {
        display: block;
        text-align: center;
    }
}