<!-- navbar start here -->
<app-navbar></app-navbar>
<!-- ========sidebar start here======== -->
<nav class="sidebar close">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nab-list">
            <a class="nav-link" id="nav-home-tab" data-bs-toggle="tab"  role="tab"  >
                <div class="icon">
                    <i class="bi bi-flag"></i>
                </div>
                <span class="text nav-text">Flags</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="" class="nav-link active free-tab" id="nav-profile-tab" data-bs-toggle="tab" role="tab"  >
                <div class="icon">
                    <i class="bi bi-building"></i>
                </div>
                <span class="text">Profile</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../directorComponent" class="nav-link free-tab" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">Director</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../chargesComponent" class="nav-link free-tab" id="nav-contact-tab free-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-coin"></i>                
                </div>
                <span class="text">Charges</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../ratingComponent" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-stars"></i>
                </div>
                <span class="text">Rating</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../financialsComponent" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-layers"></i>
                </div>
                <span class="text">Financials</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../autitorsComponent" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-calculator"></i>
                </div>
                <span class="text">Auditors</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../peersComponent" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">Peers</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../shareholdingComponent" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">shareholding</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">Assosiates</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">litigation/defaults</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">compliance</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">News</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">consent</span>
            </a>
        </li>
    </div>
</nav>
<!-- <div class="offcanvas offcanvas-start custom-canvas" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <ul class="sidebar-nav">
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-flag"></i></div>
                <div>Flags</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>Profile</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-people"></i></div>
                <div>directors</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-coin"></i></div>
                <div>charges</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-stars"></i></div>
                <div>Rating</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-layers"></i></div>
                <div>Financials</div>
            </a>
        </li><li>
            <a href="#">
                <div class="icon"><i class="bi bi-calculator"></i></div>
                <div>Auditors</div>
            </a>
        </li><li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>peers</div>
            </a>
        </li><li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>shareholding</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>Auditors</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>shareholding</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>Assosiates</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>compliance</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div>consent</div>
            </a>
        </li>
    </ul>
</div> -->
<!-- ======= sidebar end here========== -->
<div class="wrapper">
    <div class="update-msg" id="update-msg" *ngIf="display">
        <span>We are updating the information and will notify you soon.</span>
        <span>
            <button class="btn btn_note">Imp. Note</button>

            <a id="update-msg-close" (click)="HideShow()"><i class="bi bi-x-lg"></i></a>
        </span>
    </div>
    <app-master></app-master>
    <router-outlet></router-outlet>
</div>
<footer class="footer bg-dark text-white mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">1234</div>
            <div class="col-lg-4 col-md-4 col-sm-6">qwerty</div>
            <div class="col-lg-4 col-md-4 col-sm-12">dfghj</div>
        </div>
    </div>
</footer>