<!-- navbar start here -->
<app-navbar></app-navbar>
<!-- ========sidebar start here======== -->
<nav class="sidebar close">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nab-list">
            <a routerLink="../flags" class="nav-link" id="nav-home-tab" data-bs-toggle="tab"  role="tab"  >
                <div class="icon">
                    <i class="bi bi-flag"></i>
                </div>
                <span class="text nav-text">Flags</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="" class="nav-link active free-tab" id="nav-profile-tab" data-bs-toggle="tab" role="tab"  >
                <div class="icon">
                    <i class="bi bi-building"></i>
                </div>
                <span class="text">Profile</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../director" class="nav-link free-tab" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">Director</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../charges" class="nav-link free-tab" id="nav-contact-tab free-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-coin"></i>                
                </div>
                <span class="text">Charges</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../rating" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-stars"></i>
                </div>
                <span class="text">Rating</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../financials" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-layers"></i>
                </div>
                <span class="text">Financials</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../auditors" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-calculator"></i>
                </div>
                <span class="text">Auditors</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../peers" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">Peers</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../shareholding" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-clock"></i>
                </div>
                <span class="text">shareholding</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">Assosiates</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">litigation/defaults</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <span class="text">compliance</span>
            </a>
        </li>
        <li class="nab-list">
            <a routerLink="../news" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-newspaper"></i>
                </div>
                <span class="text">News</span>
            </a>
        </li>
        <li class="nab-list">
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"  role="tab" >
                <div class="icon">
                    <i class="bi bi-people"></i>
                    <span class="new-tab-dot"></span>
                </div>
                <span class="text">consent <span class="new-tab">New</span></span>
            </a>
        </li>
    </div>
</nav>

<!-- ======= sidebar end here========== -->
<div class="wrapper">
    <div class="update-msg" id="update-msg">
        <!-- <span>We are updating the information and will notify you soon.</span> -->
        <div class="js-conveyor-example">
            <ul>
              <li>
                We are updating the information and will notify you soon.
              </li>
              <li>
                MCA21 v3 Impact: MCA has migrated filing of certain forms on v3 portal. VPD and related data from these forms are temporarily unavailable since 15/07/2022 for CHG-1, CHG-4 , CHG-9.              
            </li>
            </ul>
          </div>
        
    </div>
    <app-master></app-master>
    <router-outlet></router-outlet>
</div>
<footer class="footer bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4"><span class="">© 2023 All Rights Reserved</span></div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <ul class="nav justify-content-center">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul class="nav social-media justify-content-end">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
            </div>
        </div>
    </div>
</footer>