.custom-select{
    display: flex;
    gap: 16px;
    min-width: 200px;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    padding: 7px 12px;
    font-size: 14px;
    margin-right: 8px;
}
.custom-select-dropdown .dropdown-item{
    font-size: 14px;
    cursor: pointer;
}
.custom-select-dropdown .dropdown-item.active{
    background-color: #E9ECEF;
    color: #212529;
}
.dropdown{
    display: inline-block;
}
.dropdown-menu.show{
    width: 100%;
}