<div class="secondary-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-9">
                <div class="company-name">
                    <i class="bi bi-patch-check-fill"></i>
                    <h1>hubtown limited</h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-3 text-end">
                <div class="btn-desktop-group">
                    <button class="btn btn-teal btn-teal-text">view timeline</button>
                    <button class="btn btn-teal btn-teal-fill">Get latest</button>
                    <!-- <button class="btn btn-teal btn-teal-outline">Download</button> -->
                    <div class="dropdown">
                        <button class="btn btn-teal btn-teal-outline" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Download <i class="bi bi-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu custom-dropdown dropdown_animation">
                            <li><a class="dropdown-item" href="#">all Report</a></li>
                            <li><a class="dropdown-item" href="#">advanced Report(Excel)</a></li>
                            <li><a class="dropdown-item" href="#">financial Excel</a></li>
                            <li><a class="dropdown-item" href="#">advanced Report(PDF)</a></li>
                            <li><a class="dropdown-item" href="#">Basic Report</a></li>
                            <li><a class="dropdown-item" href="#">flags Report</a></li>
                            <li><a class="dropdown-item" href="#">group company Report</a></li>
                            <li><a class="dropdown-item" href="#">documents</a></li>

                        </ul>
                    </div>
                    <button class="btn btn-teal btn-teal-outline">GC Report</button>
                </div>
                <button class="btn btn-teal btn-teal-outline btn-mobile" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
            </div>
        </div>
    </div>
</div>