<div class="secondary-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-9">
                <div class="company-name">
                    <i class="bi bi-patch-check-fill"></i>
                    <h1>hubtown limited</h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-3 text-end">
                <div class="btn-desktop-group">
                    <button class="btn btn-teal btn-teal-text">view timeline</button>
                    <button class="btn btn-teal btn-teal-fill">Get latest</button>
                    <!-- <button class="btn btn-teal btn-teal-outline">Download</button> -->
                    <div class="btn-group" style="margin-left: 16px;">
                        <button type="button" class="btn btn-teal btn-teal-outline">Download</button>
                        <button type="button" class="btn btn-teal btn-teal-outline dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu custom-dropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </div>
                    <button class="btn btn-teal btn-teal-outline">GC Report</button>
                </div>
                <button class="btn btn-teal btn-teal-outline btn-mobile" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
           </div>
        </div>
    </div>
</div>