<div class="secondary-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-9">
                <div class="company-name">
                    <h1>Vyomesh Mahipatray Shah</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 title-section d-flex justify-content-between ">
            <div class="title-left-sec">
                <i class="bi bi-people"></i>
                <h2 class="tabs-name">Director/Partner Profile</h2>
                <span class="AsOndate">As On : <span>03/03/2021</span></span>
            </div>
            <div class="text-end">
                <button class="btn btn-teal btn-teal-outline"><i class="bi bi-file-earmark-excel"></i> Export to
                    Excel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h3>Profile</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-1">
                            <div class="list-title">DIN/DPIN</div>
                            <div class="list-details">00009596</div>
                        </div>
                        <div class="col-md-8 mb-1">
                            <div class="list-title">Address</div>
                            <div class="list-details">6TH FLOOR, AKRUTI CO.OP. HOUSING SOCIETY, 23/F, DONGERSI ROAD, WALKESHWAR, MALABAR HILL MUMBAI 400006 MH IN</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-1">
                            <div class="list-title">Director on board of a bank</div>
                            <div class="list-details">No</div>
                        </div>
                        <div class="col-md-8 mb-1">
                            <div class="list-title">DIN Status</div>
                            <div class="list-details">Approved</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card custom-card">
                <table class="table custom-table" id="directordetailstable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Sr. No.
                            </th>
                            <th>Company/LLP Name</th>
                            <th>Designation (Category)</th>
                            <th>Appointment at current designation on</th>
                            <th>Originally Appointed on</th>
                            <th>Cessation
                                Date</th>
                            <th>Company/LLP Status</th>
                            <th>%
                                Shareholding/
                                %Contribution
                                received</th>
                            <th>Total open charges
                                (in Cr.)</th>
                            <th>Paid up capital
                                (in Lakhs)</th>
                            <th>Date of Incorporation</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                            <th><input type="text" class="form-control"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#">Hubtown Limited</a></td>
                            <td>Managing Director <span class="d-block">(-)</span>
                            </td>
                            <td>30/11/2006</td>
                            <td>30/11/2006</td>
                            <td>-</td>
                            <td>Active</td>
                            <td class="text-end"><strong class="d-block">7.65 %</strong>
                                (As On 31/03/2022)</td>
                            <td class="text-end">5,513.52</td>
                            <td class="text-end">7,633.59</td>
                            <td>16/02/1989</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#">Joyous Housing limited</a></td>
                            <td> Director <span class="d-block">(-)</span>
                            </td>
                            <td>06/02/2004</td>
                            <td>06/02/2004</td>
                            <td>-</td>
                            <td>Active</td>
                            <td class="text-end"><strong class="d-block">7.65 %</strong>
                                (As On 31/03/2022)</td>
                            <td class="text-end">800.00</td>
                            <td class="text-end">100.00</td>
                            <td>19/09/1995</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#">Citygold Education Research limited</a></td>
                            <td>Additional Director <span class="d-block">(Promoter)</span>
                            </td>
                            <td>02/01/2017</td>
                            <td>03/08/2006</td>
                            <td>25/07/2017</td>
                            <td>Amalgamated</td>
                            <td class="text-end">-</td>
                            <td class="text-end">-</td>
                            <td class="text-end">259.75</td>
                            <td>03/08/2006</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="#">Everest Kanto Cylinder Limited</a></td>
                            <td> Director <span class="d-block">(-)</span>
                            </td>
                            <td>17/05/2006</td>
                            <td>17/05/2006</td>
                            <td>01/04/2015</td>
                            <td>Active</td>
                            <td class="text-end">-</td>
                            <td class="text-end">465.39</td>
                            <td class="text-end">2,244.15</td>
                            <td>24/06/1978</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>