<div class="container">
    <div class="row">
        <div class="col-12 title-section d-flex justify-content-between ">
            <div class="title-left-sec">
                <i class="bi bi-flag"></i>
                <h2 class="tabs-name">flags</h2>
                <a href="#" data-bs-target="#profile" data-bs-toggle="modal"><i class="bi bi-info-circle"></i></a>
                <span class="AsOndate">As On : <span>03/03/2021</span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h3>Risk Categorization</h3>
                </div>
                <div class="card-body">
                    <div class="rating-frame">
                        <div class="rating-block"></div>
                        <div class="rating-block"></div>
                        <div class="rating-block"></div>
                        <div class="rating-block"></div>
                        <div class="rating-block"></div>
                        <div class="rating-block"></div>
                        <div class="rating-block active"></div>
                    </div>
                    <table class="table custom-table" style="width:100%">
                        <tbody>
                            <tr>
                                <th style="width: 25%;">Degree Of Credit Risk:</th>
                                <td>Alarming</td>
                            </tr>
                            <tr>
                                <th style="width: 25%;">Probability of Default:</th>
                                <td> > 30%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- <div class="card custom-card">
                <div class="card-header border-none justify-content-end">
                    <div class="list-details">
                        <span>Alerts/Flag counts</span>
                        <span class="text-end">
                            <button class="flag-btn green-flag"><i class="bi bi-flag-fill"></i> (0)</button>
                            <button class="flag-btn yellow-flag"><i class="bi bi-flag-fill"></i> (10)</button>
                            <button class="flag-btn red-flag"><i class="bi bi-flag-fill"></i> (5)</button>
                        </span>
                    </div>
                </div>

            </div> -->
            <div class="card custom-card">
                <div class="table-responsive">
                    <table class="table custom-table m-0" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 30px;"></th>
                                <th class="text-end" style="width: 77%;"><span>Alerts/Flag counts</span></th>
                                <th class="d-flex">
                                        <div class="col-4 p-0">
                                            <button class="flag-btn green-flag ms-0"><i class="bi bi-flag-fill"></i> (0)</button>
                                        </div>
                                        <div class="col-4 p-0">
                                            <button class="flag-btn yellow-flag ms-0"><i class="bi bi-flag-fill"></i> (10)</button>
                                        </div>
                                        <div class="col-4 p-0">
                                            <button class="flag-btn red-flag ms-0"><i class="bi bi-flag-fill"></i> (5)</button>
                                        </div>
                                    </th>                            
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="width: 30px;"></th>
                                <th style="width: 77%;">Event/Analysis</th>
                                <th>Alerts/Flags Count</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr>
                                <td><a href="#demo" data-bs-toggle="collapse" class="pradip"><i class="bi bi-plus-square"></i></a></td>
                                <td>Governance, Litigations and Defaults</td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">
                                            <span class="text-green"><i class="bi bi-flag-fill"></i></span>
                                            (0)
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-yellow"><i class="bi bi-flag-fill"></i></span> (10)
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-red"><i class="bi bi-flag-fill"></i></span> (9)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse" id="demo">
                                <td></td>
                                <td>
                                    Suit filed case reported by Credit Bureau <a href="#"><i
                                            class="bi bi-info-circle"></i></a> <a href="#"> View Details</a>
                                </td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">

                                        </div>
                                        <div class="col-4 p-0">
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-red"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse" id="demo">
                                <td></td>
                                <td>Resignations of more than one (1) Directors in Last 12 Months <a href="#"><i
                                            class="bi bi-info-circle"></i></a> <a href="#"> View Details</a></td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">

                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-yellow"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                        <div class="col-4 p-0">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse" id="demo">
                                <td></td>
                                <td>Company Party to Case(s) in NCLT IBC Case (Open) <a href="#"> View Details</a></td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">

                                        </div>
                                        <div class="col-4 p-0">
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-red"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse" id="demo">
                                <td></td>
                                <td>Company Party to Case(s) in NCLT IBC Case (Closed)</td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">

                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-yellow"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-red"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse" id="demo">
                                <td></td>
                                <td>Company Party to Case(s) in NCLT Non IBC Case (Open) <a href="#"> View Details</a>
                                </td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">

                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-yellow"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                        <div class="col-4 p-0">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse" id="demo">
                                <td></td>
                                <td>Company Party to Case(s) in NCLT Non IBC Case (Closed)</td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">

                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-yellow"><i class="bi bi-flag-fill"></i></span>
                                        </div>
                                        <div class="col-4 p-0">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo2" data-bs-toggle="collapse"><i class="bi bi-dash-square"></i></a></td>
                                <td>Group Companies* - Governance, Litigations, Defaults and Credit Rating</td>
                                <td class="flags-count">
                                    <div class="list-details">
                                        <div class="col-4 p-0">
                                            <span class="text-green"><i class="bi bi-flag-fill"></i></span>
                                            (0)
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-yellow"><i class="bi bi-flag-fill"></i></span> (0)
                                        </div>
                                        <div class="col-4 p-0">
                                            <span class="text-red"><i class="bi bi-flag-fill"></i></span> (7)
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr class="collapse" id="demo2">
                                <td></td>
                                <td colspan="2">
                                    <span><span class="circle"></span> Holding</span>
                                    <span><span class="circle"></span> Subsidiary</span>
                                    <span><span class="circle"></span> Joint Venture</span>
                                    <span><span class="circle"></span> Associate</span>
                                    <span><span class="circle"></span> Common Directorship</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- profile Modal -->
<div class="modal custom-modal fade" id="profile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Flags</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>There are certain Corporate events and information which indicate abnormal or a typical behavior or
                    situation. In this section, we track and capture more than 25 such events or behavior, which, we
                    believe, should not escape the attention of the user. For the purpose of brevity, we have divided
                    the highlights into 6 logical groups.</p>
                <br>
                <p>To represent the nature and significance of every event we have marked them with FLAGs.</p>
                <br>
                <p>

                    <li class="after-dot"><span class="text-red">RED</span> flag suggests that the event may have potential adverse
                        consequences and may need some urgent
                        action on part of user of this information.</li>
                    <li class="after-dot"><span class="text-yellow">YELLOW</span> flag suggests that the event is worth taking note and
                        consider some follow up action.</li>
                    <li class="after-dot">
                        <span class="text-green">GREEN</span> flag suggests that the event may have positive impact on
                        the company. Only the events occurred
                        are shown here in the form of Flags.
                    </li>
                </p>
            </div>
        </div>
    </div>
</div>